<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>{{ title }}</title>

  <!-- Included CSS Files (Uncompressed) -->
  <!--
  <link rel="stylesheet" href="/web_cms_template/static/src/template/stylesheets/foundation.css">
  -->
  
  <!-- Included CSS Files (Compressed) -->
  <link rel="stylesheet" href="/web_cms_template/static/src/template/stylesheets/foundation.min.css">
  <link rel="stylesheet" href="/web_cms_template/static/src/template/stylesheets/app.css">

  <script src="/web_cms_template/static/src/template/javascripts/modernizr.foundation.js"></script>
</head>
<body>

  <!-- Header and Nav -->

  <nav class="top-bar">
    <ul>
      <!-- Title Area -->
      {% block titleArea %}
      <li class="name">
        <h1>
          <a href="/web_cms_template/static/src/template/#">
            Top Bar Title
          </a>
        </h1>
      </li>
      <li class="toggle-topbar"><a href="/web_cms_template/static/src/template/#"></a></li>
    </ul>
    {% endblock %}
    <section>
      {% block menuArea %}
      <!-- Left Nav Section -->
      <ul class="left">
        <li class="divider"></li>
        <li class="has-dropdown">
          <a class="active" href="/web_cms_template/static/src/template/#">Main Item 1</a>
          <ul class="dropdown">
            <li><label>Section Name</label></li>
            <li><a href="/web_cms_template/static/src/template/#" class="">Dropdown Level 1</a></li>
            <li><a href="/web_cms_template/static/src/template/#">Dropdown Option</a></li>
            <li><a href="/web_cms_template/static/src/template/#">Dropdown Option</a></li>
            <li class="divider"></li>
            <li><label>Section Name</label></li>
            <li><a href="/web_cms_template/static/src/template/#">Dropdown Option</a></li>
            <li><a href="/web_cms_template/static/src/template/#">Dropdown Option</a></li>
            <li><a href="/web_cms_template/static/src/template/#">Dropdown Option</a></li>
            <li class="divider"></li>
            <li><a href="/web_cms_template/static/src/template/#">See all &rarr;</a></li>
          </ul>
        </li>
        <li class="divider"></li>
        <li><a href="/web_cms_template/static/src/template/#">Main Item 2</a></li>
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="/web_cms_template/static/src/template/#">Main Item 3</a>
          <ul class="dropdown">
            <li><a href="/web_cms_template/static/src/template/#">Dropdown Option</a></li>
            <li><a href="/web_cms_template/static/src/template/#">Dropdown Option</a></li>
            <li><a href="/web_cms_template/static/src/template/#">Dropdown Option</a></li>
            <li class="divider"></li>
            <li><a href="/web_cms_template/static/src/template/#">See all &rarr;</a></li>
          </ul>
        </li>
        <li class="divider"></li>
      </ul>

      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="/web_cms_template/static/src/template/#">Main Item 4</a>
          <ul class="dropdown">
            <li><label>Section Name</label></li>
            <li class="has-dropdown">
              <a href="/web_cms_template/static/src/template/#" class="">Has Dropdown, Level 1</a>
              <ul class="dropdown">
                <li><a href="/web_cms_template/static/src/template/#">Dropdown Options</a></li>
                <li><a href="/web_cms_template/static/src/template/#">Dropdown Options</a></li>
                <li class="has-dropdown">
                  <a href="/web_cms_template/static/src/template/#">Has Dropdown, Level 2</a>
                  <ul class="dropdown test">
                    <li><a href="/web_cms_template/static/src/template/#">Subdropdown Option</a></li>
                    <li><a href="/web_cms_template/static/src/template/#">Subdropdown Option</a></li>
                    <li><a href="/web_cms_template/static/src/template/#">Subdropdown Option</a></li>
                  </ul>
                </li>
                <li><a href="/web_cms_template/static/src/template/#">Subdropdown Option</a></li>
                <li><a href="/web_cms_template/static/src/template/#">Subdropdown Option</a></li>
                <li><a href="/web_cms_template/static/src/template/#">Subdropdown Option</a></li>
              </ul>
            </li>
            <li><a href="/web_cms_template/static/src/template/#">Dropdown Option</a></li>
            <li><a href="/web_cms_template/static/src/template/#">Dropdown Option</a></li>
            <li class="divider"></li>
            <li><label>Section Name</label></li>
            <li><a href="/web_cms_template/static/src/template/#">Dropdown Option</a></li>
            <li><a href="/web_cms_template/static/src/template/#">Dropdown Option</a></li>
            <li><a href="/web_cms_template/static/src/template/#">Dropdown Option</a></li>
            <li class="divider"></li>
            <li><a href="/web_cms_template/static/src/template/#">See all &rarr;</a></li>
          </ul>
        </li>
        <li class="divider"></li>
        <li><a href="/web_cms_template/static/src/template/#">Main Item 5</a></li>
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="/web_cms_template/static/src/template/#">Main Item 6</a>
          <ul class="dropdown">
            <li><a href="/web_cms_template/static/src/template/#">Dropdown Option</a></li>
            <li><a href="/web_cms_template/static/src/template/#">Dropdown Option</a></li>
            <li><a href="/web_cms_template/static/src/template/#">Dropdown Option</a></li>
            <li class="divider"></li>
            <li><a href="/web_cms_template/static/src/template/#">See all &rarr;</a></li>
          </ul>
        </li>
      </ul>
      {% endblock %}
    </section>
  </nav>


  <!-- End Header and Nav -->

  <!-- Main Grid Section -->

  <div class="row">

    <div class="three columns">
      <div class="panel">
        <h5>Panel Title</h5>
        <p>This is a three columns grid panel with an arbitrary height.</p>
      </div>
    </div>
    <div class="six columns">
      <div class="panel">
        <h5>Panel Title</h5>
        <p>This is a six columns grid panel with an arbitrary height. Bacon ipsum dolor sit amet salami ham hock biltong ball tip drumstick sirloin pancetta meatball short loin.</p>
      </div>
    </div>
    <div class="three columns">
      <div class="panel">
        <h5>Panel Title</h5>
        <p>This is a three columns grid panel with an arbitrary height.</p>
      </div>
    </div>

  </div>



  <div class="row">

    <div class="six columns">
      <div class="panel">
        <h5>Panel Title</h5>
        <p>This is a six columns grid panel with an arbitrary height. Bacon ipsum dolor sit amet salami ham hock biltong ball tip drumstick sirloin pancetta meatball short loin.</p>
      </div>
    </div>
    <div class="two columns">
      <div class="panel">
        <p>
          <img src="/web_cms_template/static/src/template/http://placehold.it/200x200" />
        </p>
      </div>
    </div>
    <div class="four columns">
      <div class="panel">
        <h5>Panel Title</h5>
        <p>This is a four columns grid panel with an arbitrary height. Bacon ipsum dolor sit amet salami.</p>
      </div>
    </div>

  </div>


  <div class="row">

    <div class="four columns">
      <div class="panel">
        <p>
          <img src="/web_cms_template/static/src/template/http://placehold.it/400x300" />
        </p>
      </div>
    </div>
    <div class="four columns">
      <div class="panel">
        <p>
          <img src="/web_cms_template/static/src/template/http://placehold.it/400x300" />
        </p>
      </div>
    </div>
    <div class="four columns">
      <div class="panel">
        <p>
          <img src="/web_cms_template/static/src/template/http://placehold.it/400x300" />
        </p>
      </div>
    </div>

  </div>


  <div class="row">

    <div class="six columns">
      <div class="panel">
        <h5>Panel Title</h5>
        <p>This is a six columns grid panel with an arbitrary height. Bacon ipsum dolor sit amet salami ham hock biltong ball tip drumstick sirloin pancetta meatball short loin.</p>
      </div>
    </div>
    <div class="three columns">
      <div class="panel">
        <h5>Panel Title</h5>
        <p>This is a three columns grid panel with an arbitrary height.</p>
      </div>
    </div>
    <div class="three columns">
      <div class="panel">
        <h5>Panel Title</h5>
        <p>This is a three columns grid panel with an arbitrary height.</p>
      </div>
    </div>

  </div>

  <!-- End Grid Section -->



  <!-- Footer -->

  <footer class="row">
    {% block footer %}
    <div class="twelve columns">
      <hr />
      <div class="row">
        <div class="six columns">
          <p>&copy; Copyright no one at all. Go to town.</p>
        </div>
        <div class="six columns">
          <ul class="link-list right">
            <li><a href="/web_cms_template/static/src/template/#">Section 1</a></li>
            <li><a href="/web_cms_template/static/src/template/#">Section 2</a></li>
            <li><a href="/web_cms_template/static/src/template/#">Section 3</a></li>
            <li><a href="/web_cms_template/static/src/template/#">Section 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    {% endblock %}
  </footer>

  <!-- Included JS Files (Uncompressed) -->
  <!--
  
  <script src="/web_cms_template/static/src/template/javascripts/jquery.js"></script>
  
  <script src="/web_cms_template/static/src/template/javascripts/jquery.foundation.mediaQueryToggle.js"></script>
  
  <script src="/web_cms_template/static/src/template/javascripts/jquery.foundation.forms.js"></script>
  
  <script src="/web_cms_template/static/src/template/javascripts/jquery.foundation.reveal.js"></script>
  
  <script src="/web_cms_template/static/src/template/javascripts/jquery.foundation.orbit.js"></script>
  
  <script src="/web_cms_template/static/src/template/javascripts/jquery.foundation.navigation.js"></script>
  
  <script src="/web_cms_template/static/src/template/javascripts/jquery.foundation.buttons.js"></script>
  
  <script src="/web_cms_template/static/src/template/javascripts/jquery.foundation.tabs.js"></script>
  
  <script src="/web_cms_template/static/src/template/javascripts/jquery.foundation.tooltips.js"></script>
  
  <script src="/web_cms_template/static/src/template/javascripts/jquery.foundation.accordion.js"></script>
  
  <script src="/web_cms_template/static/src/template/javascripts/jquery.placeholder.js"></script>
  
  <script src="/web_cms_template/static/src/template/javascripts/jquery.foundation.alerts.js"></script>
  
  <script src="/web_cms_template/static/src/template/javascripts/jquery.foundation.topbar.js"></script>
  
  <script src="/web_cms_template/static/src/template/javascripts/jquery.foundation.joyride.js"></script>
  
  <script src="/web_cms_template/static/src/template/javascripts/jquery.foundation.clearing.js"></script>
  
  <script src="/web_cms_template/static/src/template/javascripts/jquery.foundation.magellan.js"></script>
  
  -->
  
  <!-- Included JS Files (Compressed) -->
  <script src="/web_cms_template/static/src/template/javascripts/jquery.js"></script>
  <script src="/web_cms_template/static/src/template/javascripts/foundation.min.js"></script>
  
  <!-- Initialize JS Plugins -->
  <script src="/web_cms_template/static/src/template/javascripts/app.js"></script>
</body>
</html>
