{% for post in posts %}
	<h3>{{ post.name }}</h3>
	<!-- Grid Example -->
	<div class="row">
		<div class="twelve columns">
		    <div class="panel">
		   {{ post.content }}
		    </div>
		    <div class="panel">
		    <h6>Written by <a href="#" class="authors" title ="{{ post.create_uid[0] }}">{{ post.create_uid[1] }}</a> {{ post.date }} at {{ post.time }}.</h6>
		    </div>
		</div>
	</div>
{% endfor %}
<ul class="pagination">
	<li class="arrow unavailable"><a href="">&laquo;</a></li>
	{% for i in range(1, pager[0]+1) %}
    	{% if (i != pager[1]) %}
        	<li><a href="#" title="{{ i }}" class="pager">{{ i }}</a></li>
    	{% else %}
        	<li class="unavailable pager">{{ i }}</li>
        {% endif %}
    {% endfor %}
	<li class="arrow"><a href="">&raquo;</a></li>
</ul>

<script type="text/javascript">
	$('.pager').live('click', function (event){
		event.preventDefault();
		get_articles($(this).attr('title'));
	});

	$('.authors').live('click', function (event){
		event.preventDefault();
		get_articles(1, 0, $(this).attr('title'));
	});

</script>